/* #root {
  max-width: 1440px;
  margin: 0 auto;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
} */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Pretendard", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
